/**!
 * Progenitor stylesheet
 * =====================
 */

.wp-caption {}
.wp-caption-text {}
.sticky {}
.screen-reader-text {}
.gallery-caption {}
.bypostauthor {}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	clear: both;
	display: block;
}

/* Flexbox sticky footer */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#site-main {
	/* When the mainbody has not much content (e.g. 404 page),
	this pushes the footer to the bottom of the viewport */
  flex: 1;
}

/* Max content widths */

img {
  max-width: 100%;
  height: auto
}

/* Author bio */

.author-bio .avatar {
	border: 1px solid #dee2e6;
	border-radius: 50%;
}

/* Hide form placeholders on focus */

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
textarea:focus::-webkit-input-placeholder { color: transparent; }
textarea:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
