/**!
 * Progenitor stylesheet
 * =====================
 */

.wp-caption {}
.wp-caption-text {}
.sticky {}
.screen-reader-text {}
.gallery-caption {}
.bypostauthor {}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	clear: both;
	display: block;
}

/* Flexbox sticky footer */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#site-main {
	/* When the mainbody has not much content (e.g. 404 page),
	this pushes the footer to the bottom of the viewport */
  flex: 1;
}

/* Max content widths */

img {
  max-width: 100%;
  height: auto
}

/* Author bio */

.author-bio .avatar {
	border: 1px solid #dee2e6;
	border-radius: 50%;
}

/* Hide form placeholders on focus */

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
textarea:focus::-webkit-input-placeholder { color: transparent; }
textarea:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color: transparent; } /* FF 19+ */

/* FONTS from font-awesome.css */
@font-face {font-family:'FontAwesome'; src:url('../../fonts/fontawesome-webfont.eot'); src:url('../../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../../fonts/fontawesome-webfont.woff2') format('woff2'), url('../../fonts/fontawesome-webfont.woff') format('woff'), url('../../fonts/fontawesome-webfont.ttf') format('truetype'), url('../../fonts/fontawesome-webfont.svg') format('svg'); font-weight:normal;
 font-style:normal;}
.fa {display:inline-block; font:normal normal normal 14px/1 FontAwesome; font-size:inherit; transform:translate(0, 0);} 
.fa-linkedin:before {content:"\f0e1";}
.fa-twitter:before {content:"\f099";}
.fa-facebook:before {content:"\f09a";}
.fa-google-plus:before {content:"\f0d5";}
.fa-pinterest:before {content:"\f0d2";}
.fa-skype:before {content:"\f17e";}
.fa-youtube:before {content:"\f167";}
.fa-instagram:before {content:"\f16d";}
